---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Oliver Evans</title>
		<script async
		src="https://js.stripe.com/v3/buy-button.js">
		</script>
	</head>
	<body>
		<div style="margin: auto; width: fit-content">
			<h1>Oliver Evans</h1>
			<p>Freelance computer programmer for hire</p>
			<stripe-buy-button
			buy-button-id="buy_btn_1NiYOvEMDlpMMJJotYHfvhDG"
			publishable-key="pk_live_51NiYB0EMDlpMMJJo2gqlslgBwPTLlIt9TW9f7YCZUdieVPmvkkSIhGWinXkbKDNGW5puFCMIEGtIC66lvyWMelbF00tGuJrDeT"
			/>
		</div>
	</body>
</html>
